<div class="row">
    <div class="col-md-6">
        <label>Nom :</label>
        <p>{{ medicament.name }}</p>
    </div>
    <div class="col-md-6">
        <label>Catégorie :</label>
        <p>{{ medicament.category.name }}</p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <label>Prix :</label>
        <p>{{ medicament.price }}</p>
    </div>
    <div class="col-md-6">
        <label>Quantité :</label>
        <p>{{ medicament.quantity }}</p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <label>Description :</label>
        <p>{{ medicament.description }}</p>
    </div>
</div>
